* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #bdb76b;
}

.container {
  width: 80vw;
  height: 75vh;
  margin: 30px auto;
  background-color: beige;
  border: 2px solid #373408;
  border-radius: 5px;
  box-shadow: 2px 12px 45px 5px black;
}

.container h1,
.container h2,
.container h3 {
  text-align: center;
  text-decoration: underline;
  margin: 10px 0 0 0;
}

#dogBreed {
  display: block;
  width: 3230x;
  margin: 10px auto;
  padding: 8px;
  color: rgb(84, 98, 29);
  font-size: large;
  font-weight: bold;
  border: 2px solid #373408;
}

hr {
  color: #bdb76b;
}
